@{
    var viewModel = (InventoryStudio.Models.ViewModels.MainLayoutViewModel)ViewBag.MainLayoutViewModel;
}

<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="horizontal" data-theme-mode="light" data-header-styles="light"
      data-page-style="modern" data-menu-styles="dark" data-toggled="close">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="Warehouse management tool.">
    <meta name="Author" content="Inventory Studio">
    <meta name="keywords"
          content="admin panel template, admin dashboard bootstrap, bootstrap admin theme, asp.net mvc, bootstrap admin template, dotnet core, asp dotnet, admin dashboard template, template dashboard, asp net framework, admin template bootstrap, bootstrap admin, asp net core">

    <!-- TITLE -->
    <title>@ViewData["Title"]</title>

    <!-- FAVICON -->
    <link rel="icon" href="@Url.Content("~/assets/images/brand-logos/favicon.ico")" type="image/x-icon">

    <!-- SYNCFUSION -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/23.1.36/bootstrap5.css" />
    <script src="https://cdn.syncfusion.com/ej2/23.1.36/dist/ej2.min.js"></script>

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="@Url.Content("~/assets/libs/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

    <!-- STYLES CSS -->
    <link href="@Url.Content("~/assets/css/styles.css")" rel="stylesheet">

    <!-- ICONS CSS -->
    <link href="@Url.Content("~/assets/CSS/icons.css")" rel="stylesheet">

    <partial name="~/Views/Shared/Layouts/_styles.cshtml" />

    <!-- MAIN JS -->
    <script src="@Url.Content("~/assets/js/main.js")"></script>

    @await RenderSectionAsync("Styles", required: false)

</head>

<body>

   
  

     

        <div class="container">
            @RenderBody()
        </div>

        <!-- FOOTER -->
        <partial name="~/Views/Shared/Layouts/_footer.cshtml" />


        <!-- END FOOTER -->

  
  

    <partial name="~/Views/Shared/Layouts/_scripts.cshtml" />

    @await RenderSectionAsync("Scripts", required: false)

    <!-- STICKY JS -->
    <script src="@Url.Content("~/assets/js/sticky.js")"></script>

    <!-- CUSTOM JS -->
    <script src="@Url.Content("~/assets/js/custom.js")"></script>

    <!-- CUSTOM-SWITCHER JS -->
    <script src="@Url.Content("~/assets/js/custom-switcher.js")"></script>

    <!-- SYNCFUSION -->
    <ejs-scripts></ejs-scripts>

    <!-- END SCRIPTS -->

</body>

</html>