@model List<Company>

@{
    ViewData["Title"] = "Company";
}

<div class="container-fluid">
    <h1>Company</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>AutomateFulfillment</th>
                <th>ShippoAPIKey</th>
                <th>IncludePackingSlipOnLabel</th>
                <th>DefaultFulfillmentMethod</th>
                <th>DefaultFulfillmentStrategy</th>
                <th>DefaultAllocationStrategy</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in Model)
            {
                <tr>
                    <td>@company.CompanyName</td>
                    <td>@company.AutomateFulfillment</td>
                    <td>@company.ShippoAPIKey</td>
                    <td>@company.IncludePackingSlipOnLabel</td>
                    <td>@company.DefaultFulfillmentMethod</td>
                    <td>@company.DefaultFulfillmentStrategy</td>
                    <td>@company.DefaultAllocationStrategy</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@company.CompanyID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@company.CompanyID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@company.CompanyID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="Create">Create New Company</a>

</div>