@model InventoryStudio.Models.OrderManagement.SalesOrderLine.SalesOrderLineViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SalesOrderLine</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemSku)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemSku)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemUpc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemUpc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityCommitted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuantityCommitted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityShipped)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuantityShipped)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemUnitId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemUnitId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaxRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaxRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExternalId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParentSalesOrderLineId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParentSalesOrderLineId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalesOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalesOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="SalesOrderLineId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
