@model InventoryStudio.Models.OrderManagement.SalesOrderLine.SalesOrderLineViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SalesOrderLine</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemSKU)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemSKU)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemImageURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemImageURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemUPC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemUPC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityCommitted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuantityCommitted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityShipped)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuantityShipped)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemUnitID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemUnitID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaxRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaxRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExternalID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParentSalesOrderLineID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParentSalesOrderLineID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalesOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalesOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SalesOrderLineID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
