@model InventoryStudio.Models.OrderManagement.Customer.CustomerViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid py-4">
    <div class="card custom-card">
        <div class="card-header hstack justify-content-between align-items-center">
            <div class="card-title">Customer Details</div>
            <div class="hstack btn-list mt-md-0 mt-2">
                <a asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.CustomerID" type="button" class="btn btn-sm btn-primary btn-wave hstack align-items-center" aria-label="Edit Address button">
                    <i class="bi-pencil-fill me-2 align-middle d-inline-block fs-16"></i>Edit Customer
                </a>
                <a class="btn btn-sm btn-light" asp-controller="Customer" asp-action="Index" aria-label="Back to List">Back to List</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.CompanyName)</label>
                    <p>@Model.CompanyName</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.FirstName)</label>
                    <p>@Model.FirstName</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.LastName)</label>
                    <p>@Model.LastName</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.EmailAddress)</label>
                    <p>@Model.EmailAddress</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.ExternalID)</label>
                    <p>@Model.ExternalID</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.Client)</label>
                    <p>@Model.Client</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.Company)</label>
                    <p>@Model.Company</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.CreatedBy)</label>
                    <p>@Model.CreatedBy</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.CreatedOn)</label>
                    <p>@Model.CreatedOn</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.UpdatedBy)</label>
                    <p>@Model.UpdatedBy</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.UpdatedOn)</label>
                    <p>@Model.UpdatedOn</p>
                </div>
            </div>

            <div class="row">
                @await Html.PartialAsync("~/Views/System/AuditData/_Index.cshtml", Model.AuditDataList)
            </div>
        </div>
    </div>
</div>