@model InventoryStudio.Models.OrderManagement.SalesOrder.SalesOrderViewModel

@{
    ViewData["Title"] = "Details";
}


<div class="container-fluid py-4">
    <div class="card custom-card">
        <div class="card-header hstack justify-content-between align-items-center">
            <div class="card-title">Sales Order Details</div>
            <div class="hstack btn-list mt-md-0 mt-2">
                <a asp-controller="SalesOrder" asp-action="Edit" asp-route-id="@Model.SalesOrderID" type="button" class="btn btn-sm btn-primary btn-wave hstack align-items-center" aria-label="Edit Address button">
                    <i class="bi-pencil-fill me-2 align-middle d-inline-block fs-16"></i>Edit Sales Order
                </a>
                <a class="btn btn-sm btn-light" asp-controller="SalesOrder" asp-action="Index" aria-label="Back to List">Back to List</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.PONumber)</label>
                    <p>@Model.PONumber</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.TranDate)</label>
                    <p>@Model.TranDate</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.ShippingAmount)</label>
                    <p>@Model.ShippingAmount</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.ShippingTaxAmount)</label>
                    <p>@Model.ShippingTaxAmount</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.ItemTaxAmount)</label>
                    <p>@Model.ItemTaxAmount</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.DiscountAmount)</label>
                    <p>@Model.DiscountAmount</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.SalesSource)</label>
                    <p>@Model.SalesSource</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.ShippingMethod)</label>
                    <p>@Model.ShippingMethod</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.ShippingCarrier)</label>
                    <p>@Model.ShippingCarrier</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.ShippingPackage)</label>
                    <p>@Model.ShippingPackage</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.ShippingServiceCode)</label>
                    <p>@Model.ShippingServiceCode</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.ShipFrom)</label>
                    <p>@Model.ShipFrom</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.ShipTo)</label>
                    <p>@Model.ShipTo</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.Status)</label>
                    <p>@Model.Status</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.IsClosed)</label>
                    <p>@Model.IsClosed</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.ExternalID)</label>
                    <p>@Model.ExternalID</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.InternalNote)</label>
                    <p>@Model.InternalNote</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.CustomerNote)</label>
                    <p>@Model.CustomerNote</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.GiftMessage)</label>
                    <p>@Model.GiftMessage</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.LabelMessage)</label>
                    <p>@Model.LabelMessage</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.ReferenceNumber)</label>
                    <p>@Model.ReferenceNumber</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.SignatureRequired)</label>
                    <p>@Model.SignatureRequired</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.ShopifyOrderID)</label>
                    <p>@Model.ShopifyOrderID</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.BillToAddress)</label>
                    <p>@Model.BillToAddress</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.Company)</label>
                    <p>@Model.Company</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.Customer)</label>
                    <p>@Model.Customer</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.Location)</label>
                    <p>@Model.Location</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.ShipToAddress)</label>
                    <p>@Model.ShipToAddress</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.CreatedBy)</label>
                    <p>@Model.CreatedBy</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.CreatedOn)</label>
                    <p>@Model.CreatedOn</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.UpdatedBy)</label>
                    <p>@Model.UpdatedBy</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.UpdatedOn)</label>
                    <p>@Model.UpdatedOn</p>
                </div>
            </div>
        </div>
    </div>
</div>