@using System.Reflection
@using Microsoft.IdentityModel.Tokens
@model ItemDetailsViewModel 

@{
    ViewData["Title"] = "Item Details |";

    var enumItemTypeSelectList = Enum.GetValues(typeof(Item.enumItemType))
        .Cast<Item.enumItemType>()
        .Select(e => new SelectListItem
        {
            Value = e.ToString(),
            Text = e.GetType()
                .GetMember(e.ToString())
                .FirstOrDefault()?
                .GetCustomAttribute<System.ComponentModel.DescriptionAttribute>()?
                .Description ?? e.ToString()
        })
        .ToList();
}

<div class="container-fluid py-4">
<div class="card custom-card">
    <div class="card-body">
        <div class="d-flex flex-md-row flex-column align-content-center justify-items-md-start justify-items-start w-100 h-100 gap-md-4">
            <div class="d-flex justify-content-center justify-content-md-start align-items-center gap-4 flex-grow-0" style="min-width: 200px">
                <i class="ri-checkbox-circle-line fs-40 text-green"></i>
                <div class="d-flex flex-md-column flex-row flex-grow-0 align-items-start justify-content-between gap-3">
                    <div class="vstack align-items-start justify-content-center">
                        <p class="text-muted mb-1">@Html.DisplayNameFor(model => model.ProductSku)</p>
                        <p class="fw-bold mb-0">@Model.ProductSku</p>
                    </div>

                    <div class="vstack flex-grow-0 align-items-start justify-content-center">
                        <p class="text-muted mb-1">@Html.DisplayNameFor(model => model.ProductStatus)</p>
                        <p class="fw-bold mb-0">@Model.ProductStatus</p>
                    </div>
                </div>
            </div>

            <div class="d-none d-md-block bg-black me-4" style="width: 1px !important;"></div>
            <hr class="block hr d-md-none w-100"/>

            <div class="row d-flex flex-column flex-md-row justify-content-between align-items-start w-100 gap-4">
                <div class="col-12 col-sm-6 col-md-3 col-lg-2 d-flex flex-md-column flex-row gap-1 justify-content-md-center align-items-center">
                    <div class="bg-gray-100 object-fit-cover rounded overflow-hidden" style="height: 100px; width:  100px">
                        @if (!@Model.ProductImage?.IsNullOrEmpty() ?? false)
                        {
                            <img class="h-100 w-100 object-fit-cover" src="@Model.ProductImage" alt="@Model.ProductSku image"/>
                        }
                        @if (@Model.ProductImage?.IsNullOrEmpty() ?? true)
                        {
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <i class="bi-camera fs-40"></i>
                            </div>
                        }
                    </div>
                    <p class="mb-0">@Html.DisplayNameFor((model => model.ProductImage))</p>
                </div>

                <div class="col-12 col-sm-6 col-md-3 col-lg-2 d-flex flex-md-column flex-row gap-1 justify-content-md-center align-items-center">
                    <div class="bg-gray-100 object-fit-cover rounded overflow-hidden" style="height: 100px; width:  100px">
                        @if (!@Model.ShipMonkImage?.IsNullOrEmpty() ?? false)
                        {
                            <img class="h-100 w-100 object-fit-cover" src="@Model.ShipMonkImage" alt="@Model.ShipMonkImage image"/>
                        }
                        @if (@Model.ShipMonkImage?.IsNullOrEmpty() ?? true)
                        {
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <i class="bi-camera fs-40"></i>
                            </div>
                        }
                    </div>
                    <p class="mb-0">@Html.DisplayNameFor((model => model.ShipMonkImage))</p>
                </div>

                <div class="col-12 col-sm-6 col-md-3 col-lg-2 d-flex flex-md-column flex-row gap-1 justify-content-md-center align-items-center">
                    <div class="bg-gray-100 rounded" style="height: 100px; width:  100px">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <i class="bi-building fs-40"></i>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-start align-items-md-center ms-3 ms-md-0">
                        <p class="mb-0">@Html.DisplayNameFor((model => model.OnHand))</p>
                        <p class="fw-bold mb-0">@Model.OnHand</p>
                    </div>

                </div>

                <div class="col-12 col-sm-6 col-md-3 col-lg-2 d-flex flex-md-column flex-row gap-1 justify-content-md-center align-items-center">
                    <div class="bg-gray-100 rounded" style="height: 100px; width:  100px">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <i class="bi-building fs-40"></i>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-start align-items-md-center ms-3 ms-md-0">
                        <p class="mb-0">@Html.DisplayNameFor((model => model.Available))</p>
                        <p class="fw-bold mb-0">@Model.Available</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="card custom-card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs nav-style-1" id="itemFormTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="item-details-tab" data-bs-toggle="tab" href="#step1" role="tab" aria-controls="step1" aria-selected="true">Item Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="barcode-tab" data-bs-toggle="tab" href="#barcode-content" role="tab" aria-controls="barcode-content" aria-selected="false">Item Barcode</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="component-tab" data-bs-toggle="tab" href="#component-content" role="tab" aria-controls="component-content" aria-selected="false" style="display: none;">Item Component</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="kit-item-tab" data-bs-toggle="tab" href="#kit-item-content" role="tab" aria-controls="kit-item-content" aria-selected="false" style="display: none;">Kit Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="attribute-tab" data-bs-toggle="tab" href="#attribute-content" role="tab" aria-controls="attribute-content" aria-selected="false" style="display: none;">Attributes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="matrix-tab" data-bs-toggle="tab" href="#matrix-content" role="tab" aria-controls="matrix-content" aria-selected="false" style="display: none;">Matrix</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="system-tab" data-bs-toggle="tab" href="#audit-content" role="tab" aria-controls="audit-content" aria-selected="false">System</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="itemFormTabContent">
            <!-- Step 1 -->
            <div class="tab-pane border-0 bg-border-none fade show active" id="step1" role="tabpanel" aria-labelledby="item-details-tab">
                <div class="bg-gray-200 py-2 px-3 rounded mb-4">
                    <h6 class="mb-0">Details</h6>
                </div>
                <div class="row">
                    <div class="d-flex flex-column col-md-4">
                        <label class="form-label">@Html.DisplayNameFor(model => model.Item.ItemType)</label>
                        @if (Model.Item.ItemType != null)
                        {
                            <p>@Model.Item.ItemType.Value</p>
                        }
                        else
                        {
                            <p></p>
                        }
                    </div>

                    <div class="d-flex flex-column col-md-4">
                        <label class="form-label">@Html.DisplayNameFor(model => model.Item.ItemNumber)</label>
                        <p>@Model.Item.ItemNumber</p>
                    </div>

                    <div class="d-flex flex-column col-md-4">
                        <label class="form-label">@Html.DisplayNameFor(model => model.Item.ItemName)</label>
                        <p>@Model.Item.ItemName</p>
                    </div>

                    <div class="d-flex flex-column col-md-4">
                        <label class="form-label">@Html.DisplayNameFor(model => model.Item.IsVariation)</label>
                        <p>@Model.Item.IsVariation</p>
                    </div>

                    <div class="d-flex flex-column col-md-4">
                        <label class="form-label">@Html.DisplayNameFor(model => model.Item.IsShipReceiveIndividually)</label>
                        <p>@Model.Item.IsShipReceiveIndividually</p>
                    </div>


                    <div id="kit-options" style="display:none">
                        <div class="d-flex flex-column col-md-4">
                            <label class="form-label">@Html.DisplayNameFor(model => model.Item.FulfillByKit)</label>
                            <p>@Model.Item.FulfillByKit</p>
                        </div>

                        <div class="d-flex flex-column col-md-4">
                            <label class="form-label">@Html.DisplayNameFor(model => model.Item.ReceiveByKit)</label>
                            <p>@Model.Item.ReceiveByKit</p>
                        </div>
                    </div>
                </div>

                <div class="bg-gray-200 py-2 px-3 rounded my-4">
                    <h6 class="mb-0">International Details</h6>
                </div>
                <div class="row">
                    <div class="d-flex flex-column col-md-4">
                        <label class="form-label">@Html.DisplayNameFor(model => model.Item.HSCode)</label>
                        <p>@Model.Item.HSCode</p>
                    </div>

                    <div class="d-flex flex-column col-md-4">
                        <label class="form-label">@Html.DisplayNameFor(model => model.Item.GoodDescription)</label>
                        <p>@Model.Item.GoodDescription</p>
                    </div>

                    <div class="d-flex flex-column col-md-4">
                        <label class="form-label">@Html.DisplayNameFor(model => model.Item.CountryOfOrigin)</label>
                        <p>@Model.Item.CountryOfOrigin</p>
                    </div>
                </div>

                <div class="bg-gray-200 py-2 px-3 rounded my-4">
                    <h6 class="mb-0">Dimensions</h6>
                </div>
                <div class="row">
                    <div class="d-flex flex-column col-md-4">
                        <label class="form-label">@Html.DisplayNameFor(model => model.Item.PackageLength)</label>
                        <p>@Model.Item.PackageLength</p>
                    </div>

                    <div class="d-flex flex-column col-md-4">
                        <label class="form-label">@Html.DisplayNameFor(model => model.Item.PackageWidth)</label>
                        <p>@Model.Item.PackageWidth</p>
                    </div>

                    <div class="d-flex flex-column col-md-4">
                        <label class="form-label">@Html.DisplayNameFor(model => model.Item.PackageHeight)</label>
                        <p>@Model.Item.PackageHeight</p>
                    </div>
                    <div class="d-flex flex-column col-md-4">
                        <label class="form-label">@Html.DisplayNameFor(model => model.Item.PackageWeight)</label>
                        <p>@Model.Item.PackageWeight</p>
                    </div>

                    <div class="d-flex flex-column col-md-4">
                        <label class="form-label">@Html.DisplayNameFor(model => model.Item.PackageWeightUOM)</label>
                        <p>@Model.Item.PackageWeightUOM</p>
                    </div>

                    <div class="d-flex flex-column col-md-4">
                        <label class="form-label">@Html.DisplayNameFor(model => model.Item.PackageDimensionUOM)</label>
                        <p>@Model.Item.PackageDimensionUOM</p>
                    </div>
                </div>

                <div class="bg-gray-200 py-2 px-3 rounded my-4">
                    <h6 class="mb-0">Description</h6>
                </div>
                <div class="row">
                    <div class="d-flex flex-column col-md-4">
                        <label class="form-label">@Html.DisplayNameFor(model => model.Item.SalesDescription)</label>
                        <p>@Model.Item.SalesDescription</p>
                    </div>

                    <div class="d-flex flex-column col-md-4">
                        <label class="form-label">@Html.DisplayNameFor(model => model.Item.PurchaseDescription)</label>
                        <p>@Model.Item.PurchaseDescription</p>
                    </div>

                    <div class="d-flex flex-column col-md-4">
                        <label class="form-label">@Html.DisplayNameFor(model => model.Item.Memo)</label>
                        <p>@Model.Item.Memo</p>
                    </div>

                </div>


            </div>
            <!-- Step 2 -->
            @await Html.PartialAsync("~/Views/Item/Item/_BarCodes.cshtml", Model)
            <!-- Step 3 -->
            @await Html.PartialAsync("~/Views/Item/Item/_Component.cshtml", Model)

            @await Html.PartialAsync("~/Views/Item/Item/_Kit.cshtml", Model)

            @await Html.PartialAsync("~/Views/Item/Item/_Matrix.cshtml", Model)

            <div class="tab-pane fade" id="audit-content" role="tabpanel" aria-labelledby="system-tab">
                @await Html.PartialAsync("~/Views/System/AuditData/_Index.cshtml", Model.AuditDataList)
            </div>
        </div>
    </div>
</div>
</div>