@page
@model LoginModel

@{
    ViewData["Title"] = "Sign In";
}


<div class="row justify-content-center align-items-center authentication authentication-basic h-100">
    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
        <div class="my-5 d-flex justify-content-center">
            <a href="index.html">
                <img src="@Url.Content("~/assets/images/logos/logo-icon.png")" alt="logo" class="desktop-logo">
            </a>
        </div>
        <div class="card custom-card">
            <div class="card-body p-5">
                <p class="h5 fw-semibold mb-2 text-center">Sign In</p>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form id="account" method="post">
                    <div class="row gy-3">
                        <div class="col-xl-12">
                            <label asp-for="Input.Email" class="form-label text-default"></label>
                            <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true"/>

                            <span asp-validation-for="Input.Email" class="text-danger"></span>

                        </div>
                        <div class="col-xl-12 mb-2">
                            <label asp-for="Input.Password" class="form-label text-default"></label>
                            <div class="input-group">
                                <input asp-for="Input.Password" class="form-control form-control-lg" autocomplete="current-password" aria-required="true"/>
                                @*<button class="btn btn-light" type="button" onclick="createpassword('signin-password',this)" id="button-addon2"><i class="ri-eye-off-line align-middle"></i></button>*@
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>

                            <div class="mt-2">
                                <div class="form-check">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe"/>
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>

                            <label asp-for="Input.Password" class="form-label text-default d-block">
                                <a id="forgot-password" asp-page="./ForgotPassword" class="float-end text-danger">Forgot password?</a>
                            </label>
                        </div>

                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                        <div class="col-xl-12 d-grid mt-2">
                            <button id="login-submit" type="submit" class="btn btn-lg btn-primary">Log in</button>
                        </div>
                    </div>
                </form>
                <div class="text-center">

                    <p class="fs-12 text-muted mt-3">Dont have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up</a></p>
                </div>
                <div class="text-center my-3 authentication-barrier">
                    <span>OR</span>
                </div>
                <div class="btn-list text-center">

                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this
                                    <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div style="margin-right: 0">
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            @if (provider.DisplayName == "Google")
                                            {
                                                <button type="submit" class="btn btn-icon btn-light" style="margin-right: 0" name="provider" value="@provider.Name">
                                                    <i class="ri-google-line fw-bold text-dark op-7"></i>
                                                </button>
                                            }
                                            else
                                            {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                            }
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                    @*  <button class="btn btn-icon btn-light">
                        <i class="ri-facebook-line fw-bold text-dark op-7"></i>
                    </button>
                    
                    <button class="btn btn-icon btn-light">
                        <i class="ri-twitter-line fw-bold text-dark op-7"></i>
                    </button>*@
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}