@model InventoryStudio.Models.Templates.TemplateViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ImportTemplate</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TemplateName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TemplateName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImportType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImportType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
    </dl>
</div>

<div>
    <h4>ImportTemplate Fields</h4>
    <hr />
    <table class="table table-bordered" style="width: 100%;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TemplateFields[0].SourceField)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TemplateFields[0].DestinationTable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TemplateFields[0].DestinationField)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TemplateFields[0].CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TemplateFields[0].CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TemplateFields[0].UpdatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TemplateFields[0].UpdatedOn)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var templateField in Model.TemplateFields)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => templateField.SourceField)
                    </td>
                    <td>
                        @Html.DisplayFor(model => templateField.DestinationTable)
                    </td>
                    <td>
                        @Html.DisplayFor(model => templateField.DestinationField)
                    </td>
                    <td>
                        @Html.DisplayFor(model => templateField.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(model => templateField.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(model => templateField.UpdatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(model => templateField.UpdatedOn)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ImportTemplateID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
