@model InventoryStudio.Models.OrderManagement.Address.AddressViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid py-4">
    <div class="card custom-card">
        <div class="card-header hstack justify-content-between align-items-center">
            <div class="card-title">Address Details</div>
            <div class="hstack btn-list mt-md-0 mt-2">
                <a asp-controller="Address" asp-action="Edit" asp-route-id="@Model.AddressID" type="button" class="btn btn-sm btn-primary btn-wave hstack align-items-center" aria-label="Edit Address button">
                    <i class="bi-pencil-fill me-2 align-middle d-inline-block fs-16"></i>Edit Address
                </a>
                <a class="btn btn-sm btn-light" asp-controller="Address" asp-action="Index" aria-label="Back to List">Back to List</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.Company)</label>
                    <p>@Model.Company</p>
                </div>

                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.Country)</label>
                    <p>@Model.Country</p>
                </div>

                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.FullName)</label>
                    <p>@Model.FullName</p>
                </div>

                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.Attention)</label>
                    <p>@Model.Attention</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.CompanyName)</label>
                    <p>@Model.CompanyName</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.Address1)</label>
                    <p>@Model.Address1</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.Address2)</label>
                    <p>@Model.Address2</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.Address3)</label>
                    <p>@Model.Address3</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.City)</label>
                    <p>@Model.City</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.State)</label>
                    <p>@Model.State</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.PostalCode)</label>
                    <p>@Model.PostalCode</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.Email)</label>
                    <p>@Model.Email</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.Phone)</label>
                    <p>@Model.Phone</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.Zone)</label>
                    <p>@Model.Zone</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.IsAddressUpdated)</label>
                    <p>@Model.IsAddressUpdated</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.IsInvalidAddress)</label>
                    <p>@Model.IsInvalidAddress</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.CreatedBy)</label>
                    <p>@Model.CreatedBy</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.CreatedOn)</label>
                    <p>@Model.CreatedOn</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.UpdatedBy)</label>
                    <p>@Model.UpdatedBy</p>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.UpdatedOn)</label>
                    <p>@Model.UpdatedOn</p>
                </div>
            </div>
            <div class="row">
                @await Html.PartialAsync("~/Views/System/AuditData/_Index.cshtml", Model.AuditDataList)
            </div>
        </div>
    </div>
</div>